# Token du bot Discord
DISCORD_TOKEN=ton_token_ici

# ID du serveur Discord
GUILD_ID=id_du_serveur

# ID du salon où le panneau de contrôle s'affiche (boutons musique)
MUSIC_PANEL_CHANNEL_ID=id_du_salon_panel

# ID du salon où coller un lien YouTube le joue automatiquement
# (si vide = fonctionne dans tous les salons)
MUSIC_REQUEST_CHANNEL_ID=id_du_salon_requetes
